<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
      <tr>
        <th>id</th>
        <td>{{oProyecto.id}}</td>
      </tr>
      <tr>
        <th>nombre</th>
        <td>{{oProyecto.nombre}}</td>
      </tr>
      <tr>
        <th>fecha incio</th>
        <td>{{oProyecto.fechaInicio}}</td>
      </tr>
      <tr>
        <th>fecha fin</th>
        <td>{{oProyecto.fechaFin}}</td>
      </tr>      
    </tbody>
  </table>
</div>