<div class="container-fluid px-5">

  <div class="row align-items-start">
    <div class="col-xxl-12 text-center p-3 mt-2">
      <h1 class="title">APP TAREAS</h1>
      <h2 class="subtitle">Proyectos y tareas</h2>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 proyectos">
      <app-user-proyecto-plist-unrouted (proyecto_selection)="onProyectoChange($event)"></app-user-proyecto-plist-unrouted>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 tareas">
      <app-user-tarea-plist-unrouted [id_proyecto]="id_proyecto"></app-user-tarea-plist-unrouted>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 info">
      <div class="card">
        <div class="card-header">
          Featured Usuarios
        </div>
        <div class="card-body">
          <app-user-usuario-featured-unrouted></app-user-usuario-featured-unrouted>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Featured Proyectos
        </div>
        <div class="card-body">
          <app-user-proyecto-featured-unrouted></app-user-proyecto-featured-unrouted>
        </div>
      </div>
    </div>
  </div>
</div>