
.title {
    letter-spacing: 6vw;    
    font-size:4vw; 
    margin: 10px 0px;   
}
.subtitle {
    letter-spacing: 20px;
    word-spacing: 80px;
    font-size: 20px;
}

.proyectos {
    padding: 5px;
    /* background-color: paleturquoise;*/
}

.tareas {
    padding: 5px;
    /*background-color: mediumpurple;*/
}

.info {
    padding: 5px;
    /*background-color: lightsteelblue;*/
}