<div *ngIf="status !== null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status === null">
  <div class="col-12">
    <div class="d-flex justify-content-center my-3">
      <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" required>
            <mat-hint align="end">(3 to 255 characters long)</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')">Nombre is required</mat-error>
            <mat-error *ngIf="hasError('nombre', 'minlength')">Must be longer</mat-error>
            <mat-error *ngIf="hasError('nombre', 'maxlength')">Exceeds characters limit</mat-error>
          </mat-form-field>
        </div>

        <div formGroupName="usuario">
          <div class="form-group">
            <mat-form-field [style.width.px]=100>
              <mat-label>USUARIO:</mat-label>
              <input matInput formControlName="id" placeholder="USUARIO" required readonly>
            </mat-form-field>
            <button class="btn btn-primary" type="button" (click)="onShowUsuariosSelection()"> <i class="pi pi-search"></i>
              Find a usuario</button>
            {{oTarea.usuario.nombre}} {{oTarea.usuario.apellidos}}
          </div>
        </div>
        <div formGroupName="proyecto">
          <div class="form-group">
            <mat-form-field [style.width.px]=100>
              <mat-label>PROYECTO:</mat-label>
              <input matInput formControlName="id" placeholder="PROYECTO" required readonly>
            </mat-form-field>
            <button class="btn btn-primary" type="button" (click)="onShowProyectosSelection()"> <i
                class="pi pi-search"></i>
              Find a proyecto</button>
            {{oTarea.proyecto.nombre}}
          </div>
        </div>

        <div class="text-center mt-5">
          <button mat-raised-button color="primary" type="submit" [disabled]="!tareaForm.valid">Save tarea</button>
        </div>
      </form>
    </div>
  </div>
</div>